
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <a href="" class="navbar-brand">Haiti-cribs</a>
  </div>
</nav>

<div class="container">
  <app-add-listing-form></app-add-listing-form>
  <app-crib-listing></app-crib-listing>
</div>